body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

@font-face {
  font-family: 'Starjedi';
  src: url('./fonts/starjedi.ttf');
  font-style: normal;
  font-weight: normal;
}